setuptools==39.0.1
numpy==1.17.4
cvxpy==1.0.25
scipy==1.5.2
scikit_learn==0.22
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.4.0+cpu
scikit-dsdp==0.0.1
networkx==2.4
tqdm==4.36.1
cython==0.29.14
git+git://github.com/jcrudy/choldate.git